<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Test to </title>
</head>

<body>

  <header>
    <div class="">
      Logos
    </div>
    <div class="">
      navigations
    </div>
  </header>

  <main>
    <section>
      <form id="main-form">
        <div>
          <input id="url" type="text" placeholder="Enter a URL" required>
          <span class="error hidden">
            Please enter  URL
          </span>
        </div>
        <input type="submit" name="" value="submit">
      </form>
      <section>

      <section>
        <strong id="results-heading"></strong>
        <div id="results"></div>
      </section>
  </main>

  <footer>
    <p> footer </p>
  </footer>

</body>

</html>